/* ----------------------------------[ Global ]------------------------------------------*/
body {
	background-color: #fefefe;
	overflow-x: hidden;
	height: 4000px;
}

/* --------------------[ Bootstrap ]--------------------------------*/
/*NavBar*/
.nav-link {padding: 10px 22px !important;}

/*About*/
section.about {
	color: white;
	background-color: #1ac3b4;
	padding: 70px;
	position: relative;
	box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section.about::after {
    content: '';
    position: absolute;
    bottom: -61px;
    height: 116px;
    left: -16px;
    transform: rotate(-4deg);
    width: 110%;
    background-color: inherit;
    box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, 0.2), 5px 5px 8px 1px rgba(0, 0, 0, 0.19);
}

section.about p {
	    margin-top: 42px;
	    font-size: 18px;
}

/*features*/
.features {
	padding-top: 160px;
}

.features .feat {
    padding: 30px 15px;
    margin-bottom: 10px;
}

.features  h2 {
	margin-bottom: 80px;
}

.features  h2 span {
    color: #1ac3b4;
    font-weight: 900;
}

.features  .feat i {
    font-size: 3em;
    padding: 15px;
    border-radius: 50%;
}

.features .feat p {
    line-height: 1.7;
    color: #505050;
}

