/* ----------------------------------[ Global ]------------------------------------------*/
body {
	background-color: #fefefe;
	overflow-x: hidden;
	height: 4000px;
}

span.maincolor {
    color: #1ac3b4;
    font-weight: 900;
}

/* --------------------[ Bootstrap ]--------------------------------*/
/*NavBar*/
.nav-link {padding: 10px 22px !important;}

/*About*/
section.about {
	color: white;
	background-color: #1ac3b4;
	padding: 70px;
	position: relative;
	box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section.about::after {
    content: '';
    position: absolute;
    bottom: -61px;
    height: 116px;
    left: -16px;
    transform: rotate(-4deg);
    width: 110%;
    background-color: inherit;
    box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, 0.2), 5px 5px 8px 1px rgba(0, 0, 0, 0.19);
}

section.about p {
	    margin-top: 42px;
	    font-size: 18px;
}

/*features*/
.features {
	padding-top: 160px;
	padding-bottom: 160px;
}

.features .feat {
    padding: 30px 15px;
    margin-bottom: 10px;
}

.features  h2 {
	margin-bottom: 80px;
}


.features  .feat i {
    font-size: 3em;
    padding: 15px;
    border-radius: 50%;
}

.features .feat p {
    line-height: 1.7;
    color: #505050;
}

/*Testimonial*/
section.testimonial {
	color: white;
	position: relative;
	background: url('../images/img7.jpg') no-repeat center;
}

section.testimonial .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000a8;
}

section.testimonial .carousel-inner {
	height: 500px;
}

section.testimonial .carousel-inner img {
    padding-top: 130px;
    padding-bottom: 50px;
    margin-bottom: 22px;
    width: 150px;
    height: auto;
	box-shadow: inset -3px -20px 0px 0px rgba(249, 249, 249, 0.66), -3px 20px 0px 0px rgb(26, 195, 180);    border-radius: 50%;
    overflow: hidden;
}

section.testimonial .carousel-indicators li {
	transition: all 1s;
}

section.testimonial .carousel-indicators .active {
	width: 50%;
	background-color: #1ac3b4;
}

/*Price*/
section.price {
	padding-top: 200px;
}

section.price h2 {
	margin-bottom: 50px;
}

section.price .plan {
    background-color: #1ac3b4;
    padding: 15px;
    color: white;
    font-size: 26px;
    box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

section.price .plan h3 {
    font-size: 2.75rem;
    margin-bottom: 40px;
}

section.price ul {
	line-height: 200%;
}
