/* ----------------------------------[ Global ]------------------------------------------*/
body {
	background-color: #fefefe;
	overflow-x: hidden;
	height: 6000px;
}

span.maincolor {
    color: #1ac3b4;
    font-weight: 900;
}

/* --------------------[ Bootstrap ]--------------------------------*/
/*NavBar*/
.nav-link {padding: 10px 22px !important;}

/*About*/
section.about {
	color: white;
	background-color: #1ac3b4;
	padding: 70px;
	position: relative;
	box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section.about::after {
    content: '';
    position: absolute;
    bottom: -61px;
    height: 116px;
    left: -16px;
    transform: rotate(-4deg);
    width: 110%;
    background-color: inherit;
    box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, 0.2), 5px 5px 8px 1px rgba(0, 0, 0, 0.19);
}

section.about p {
	    margin-top: 42px;
	    font-size: 18px;
}

/*features*/
.features {
	padding-top: 160px;
	padding-bottom: 120px;
}

.features .feat {
    padding: 30px 15px;
    margin-bottom: 10px;
}

.features  h2 {
	margin-bottom: 80px;
}


.features  .feat i {
    font-size: 3em;
    padding: 15px;
    border-radius: 50%;
}

.features .feat p {
    line-height: 1.7;
    color: #505050;
}

/*Testimonial*/
section.testimonial {
	color: white;
	position: relative;
	background: url('../images/img7.jpg') no-repeat center;
    background-size: cover;
}

section.testimonial .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000a8;
}

section.testimonial .carousel-inner {
	height: 500px;
}

section.testimonial .carousel-inner img {
    padding-top: 130px;
    padding-bottom: 50px;
    margin-bottom: 22px;
    width: 150px;
    height: auto;
	box-shadow: inset -3px -20px 0px 0px rgba(249, 249, 249, 0.66), -3px 20px 0px 0px rgb(26, 195, 180);    border-radius: 50%;
    overflow: hidden;
}

section.testimonial .carousel-indicators li {
	transition: all 1s;
}

section.testimonial .carousel-indicators .active {
	width: 50%;
	background-color: #1ac3b4;
}

/*Price*/
section.price {
	padding-top: 50px;
}

section.price h2 {
	margin-bottom: 50px;
}

section.price .plan {
    color: black;
    border: 2px solid #1ac3b4;
    padding: 15px;
    font-size: 26px;
    box-shadow: -3px -1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

section.price .plan h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section.price ul {
	line-height: 180%;
}

/*our-team*/
section.our-team {
    color: white;
    margin-top: 100px;
    background: url('../images/gif1.gif') no-repeat center center fixed;
    background-size: cover;
}

section.our-team .overlay {
    padding-top: 50px;
    padding-bottom: 70px;
    background: rgba(2, 2, 2, 0.8);
}

section.our-team .person {
    margin-top: 50px;
    margin-bottom: 15px;
}

/*Subscribe*/
section.subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.subscribe form {
    width: 70%;
    margin: auto;
}

section.subscribe form .form-control {
    width: 80%;
    border-radius: 0;
}

section.subscribe form button {
    width:20%;
    border-radius: 0;
}

/*Statistics*/
section.statistics {
    margin-top: 50px;
    background: url('../images/img8.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

section.statistics .data {
    background: rgba(2, 2, 2, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

section.statistics h2 {
    margin-bottom: 50px;
}

section.statistics .stats {
    margin-bottom: 15px;
}

section.statistics .stats p {
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 0;
    margin: 0;
    font-size: 31px;
}

/*Our-Skills*/
section.skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.skills h2 {
    margin-bottom: 50px;
}

section.skills .skills-progress .progress {

    margin-bottom: 20px;
}

/*Contact-Us*/
section.contact {
     margin-top: 50px;
    background: url('../images/header5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

section.contact .overlay {
    background: rgba(2, 2, 2, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
}

section.contact p {
    padding: 15px;
}

section.contact input[type="text"],
section.contact textarea {
    background: rgba(82, 78, 78, 0.7);
    color: #FFF;
    border:none;
    border-bottom: 1px solid transparent;
    outline: none;
    transition: all 0.5s;
}

section.contact input[type="text"]:focus,
section.contact textarea:focus {
    background: rgba(82, 78, 78, 0.7);
    color: #FFF;
    border:none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid white;
}

section.contact textarea {
    height: 93px;
}

/*Footer*/
section.footer {
    color:white;
    background:#5f5e5e;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.footer h2 {
    margin:20px 0;
}

section.footer .three-colu {
    overflow:hidden;
}

section.footer .three-colu li {
    width:33.3333%;
    float:left;
    padding: 5px;
}

